body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
}
.menu {
    text-align: center;
}
.menu-item {
    display: inline-block;;
    text-decoration: none;
    text-transform: uppercase;
    font-variant: all-small-caps;
    font-size: 18px;
    font-weight: 700;
    color: #FF0000;
    padding: 0 0;
    margin: 10px 40px 0;
}
.image {
    padding: 0;
    margin: 0;
}
.content-wrapper {
    margin: 30px 65px;
}
h2 {
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}
p {
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2.4px;
}
button {
    background-color: #ff0000;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Montserrat";
    padding: 10px 50px;
    margin: 60px auto;
    display: block;
    font-size: 12px;
    font-weight: 700;
}
.copiright {
    font-family: Montserrat;
    font-style: normal;
    letter-spacing: 2.4px;
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    margin: 50px;
}